<%= render :partial => 'top_menu' %>
  <label><%= l('Warehouse') %></label>
  <%= form_tag(params, :method => :get) do %>
  <%= select_tag :warehouse, options_for_select(@warehouses,params[:warehouse]),{:onchange => "this.form.submit();"} %>
  <input type='button' value='<%= l('export').capitalize %> CSV' onclick="location.href='/inventory/inventory_stock_xls?warehouse='+$('warehouse').value" />
  <% end %>
<table id='inventory_stock' cellspacing='0' cellpadding='4' border='1' style='border: 1px solid black;font-size:10px;border-collapse:collapse;'>
  <tr>
    <th><%= l('field_short_part_number') %></th>
	<th><%= l('field_manufacturer') %></th>
    <th><%= l('field_category') %></th>
    <th><%= l('field_description') %></th>
    <th><%= l('field_value') %></th><th><%= l('inputs') %></th><th><%= l('outputs') %></th><th><%= l('stock') %></th>
    <th><%= l('last_movement') %></th><th><%= l('total') %></th></tr>
   <% 
   total = 0
   while s = @stock.fetch_row %>
  <tr <% if s[8].to_i < 5 %> <%= "class='inventory-warning'" %> <% end %> >
   <td><%= s[0] %><% if s[1] and s[1].length > 0 %> (<%= s[1] %>)<% end %></td>
   <td><%= s[2] %></td>
   <td><%= s[3] %></td>
   <td><%= s[4] %></td>
   <td align='right'><%= number_to_currency(s[5]) %></td>
   <td align='right'><%= s[6] %></td>
   <td align='right'><%= s[7] %></td>
   <td align='right'><b><%= s[8] %></b></td>
   <td><%= s[9] %></td>
   <td align='right'><%= number_to_currency(s[5].to_f*s[8].to_f) %></td>
  </tr>
   <% 
    total += s[5].to_f*s[8].to_f
   end %>
   <tr>
    <th colspan="9" align="right"><%= l('inventory_value') %></th>
    <th align="right"><%= number_to_currency(total) %></th>
   </tr>
</table>